.c-learn {
  padding: 60px 0;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}
h2.c-learn__heading {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 30px;
}
.c-learn__description {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
