.c-hosts {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background: #D73B5A;
  padding: $spacing-unit-huge 0;
  overflow: hidden;

  background-image: url("../images/hosts-bg.png");
  background-repeat: repeat;
}
  .c-hosts__container {
    position: relative;
    z-index: 1;
    width: 1000px;
    max-width: 100%;
    margin: 0 0;
    padding: 0 15px;

    @include media-query('medium') {
      width: 800px;
    }

    @include media-query('large') {
      width: 1170px;
    }
  }

    .c-hosts__container h1 {
      font-size: 32px;
      color: #FFF;
      margin-bottom: $spacing-unit-large * 2;

      @include media-query('large') {
        font-size: 42px;
      }
    }

    .c-hosts__people {
      display: flex;
      flex-flow: wrap;
      width: 100%;
      margin-bottom: $spacing-unit-large;

      @include media-query('large') {
        font-size: 18px;
      }
    }

      .c-hosts__person {
        flex: 1 1 50%;
        padding: 0 $spacing-unit;
        margin-bottom: $spacing-unit-large;

        @include media-query('medium') {
          flex: 1 1 33.33%;
        }
        @include media-query('large') {
          flex: 1 1 20%;
        }
      }

      .c-hosts__person-name {
        display: block;
        font-size: 24px;
        color: #FFF;
        font-weight: 600;
        width: 100%;

        @include media-query('large') {
          font-size: 24px;
        }
      }

      .c-hosts__person-image {
        display: block;
        border-radius: 100%;
        width: 100%;
        margin: 0 auto $spacing-unit auto;
        max-width: 150px;
      }

      .c-hosts__person-company {
        display: block;
        margin: $spacing-unit auto 0 auto;
        width: 100%;
        max-width: 150px;
      }
    
