.c-header {
  width: 100%;

  padding: 15px 15px;
  background: #313440;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "logo navigation stemfest";

  @include media-query("large") {
    padding: 15px 30px;
  }

  &.is-homepage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent;
  }
}

.c-header__logo {
  grid-area: logo;
}

.c-header__navigation {
  display: none;
  grid-area: navigation;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-right: 1.5em;

  @include media-query("medium") {
    display: block;
  }
}

.c-header__stemfest {
  grid-area: stemfest;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-header__page {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    font-size: 16px;
  }
}
.c-header__navigation span {
  color: #fff;
  display: inline-block;
  margin: 0 10px;
}

//.hero { grid-area: "hero" }
//.hosts { grid-area: "hosts" }
//.slack { grid-area: "slack" }
//.newsletter { grid-area: "newsletter" }
//.footer { grid-area: "footer" }
