.c-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-unit-huge 15px;

  position: relative;
  background: #FFFFFF;
  overflow: hidden;

  @include media-query('large') {
    padding-top: $spacing-unit-huge;
    padding-bottom: $spacing-unit-huge * 2;
  }
}
  .c-newsletter__container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }

    .c-newsletter__heading {
      color: #313440;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: $spacing-unit-large;
    }

    .c-newsletter__tagline {
      color: #313440;
      font-size: 16px;
      line-height: 1.33;
      margin-bottom: $spacing-unit-large;

      @include media-query('large') {
        font-size: 18px;
      }
    }

    .c-newsletter__success {
      border: 1px solid #9dc587;
      padding: 15px 15px;
      color: #9dc587;
      line-height: 1.5;
    }
    .c-newsletter__error {
      border: 1px solid #c72525;
      padding: 15px 15px;
      color: #c72525;
      line-height: 1.5;
    }

    .c-newsletter__form {
      margin: $spacing-unit-large auto 0 auto;
      display: flex;
      align-items: center;
      width: 400px;
      max-width: 100%;

      @include media-query('large') {
        width: 500px;
      }

      .c-newsletter__form-submit {
        flex: 0 1 160px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      .c-newsletter__form-email {
        flex-grow: 1;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

      .c-newsletter__event-detail {
        font-size: 14px;
        color: #FFF;
        margin-bottom: $spacing-unit-small;
        font-weight: 600;

        @include media-query('large') {
          font-size: 16px;
        }
      }

// Floating image (bottom).
.c-newsletter-social {
  position: absolute;
  right: 0%;
  bottom: 0;
  transform: translateX(50%);
  display: none;

  @include media-query('large') {
    display: block;
    right: 0%;
    transform: none;
  }
}