.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
      "logo navigation"
}

.header-logo {
  width: 4em;
  height: 4em;
  grid-area: logo;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      "logo text-top"
      "logo text-bottom";
}
.header-logo-image {
  grid-area: logo;
  height: 100%;
}
.header-logo-top {
  grid-area: text-top;
  margin-top: 1em;
}
.header-logo-bottom {
  grid-area: text-bottom;
  margin-bottom: 1em;
}

.header-navigation {
  grid-area: navigation;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  text-align: right;
}

.hero { grid-area: "hero" }
.hosts { grid-area: "hosts" }
.slack { grid-area: "slack" }
.newsletter { grid-area: "newsletter" }
.footer { grid-area: "footer" }