.c-input {
  color: #313440;
  padding: $spacing-unit $spacing-unit;
  border-style: unset;
  border-radius: 10px;
  background: #EEEEEE;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
}