html {
    background: #313440;
    color: #ffffff;
    font-family: sans-serif;
}
  
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
  
a {
    text-decoration: none;
    color: #ffffff;
}